{% extends "base.html" %}

{% block content %}
    <main class="main main--about">
        <p>
            Welcome to my website! I'm a dedicated developer with a passion for creating impactful web applications.
            Over the past year at Harman Connected Services Ltd., I've immersed myself in both frontend and backend development, 
            gaining hands-on experience that has shaped my technical expertise.
        </p>
        <p>
            My journey in development has been both exciting and rewarding. I've had the opportunity to work on diverse projects,
            focusing on optimizing performance and enhancing user experience.My work involved writing efficient Python code and collaborating closely with my team to ensure that our applications not only meet user needs but also adhere to high coding standards.
        </p>
        <p>
            In addition to my development responsibilities, I explored the role of a Data Analyst, where I leveraged my skills to optimize SQL queries and improve database performance.
            This experience deepened my understanding of data management and reinforced my commitment to building efficient, scalable systems.
        </p>
        <p>
            I thrive in collaborative environments, where sharing ideas and best practices leads to innovative solutions. I'm continuously learning and expanding my skill set,
            particularly in areas that bridge development and DevOps.
        </p>
        <p>
            Thank you for visiting my site! I'm excited about the opportunities ahead and look forward to connecting with like-minded professionals in the tech community.
        </p>
    </main>
{% endblock %}